h3{
    color: white;
}
nav a{
    text-decoration:none;
    color:inherit;
    font-size:15px;
    color:inherit;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif 
}
    
nav a{
    display:inline-block;
    width:152px;
    height:60px;
    padding:23px 10px;
    background-color: rgb(49, 49, 49);
    cursor: pointer;
    position: relative;


    text-align:center;
    color:#fff;
}
#logo{
    font-style: initial;
    background-color: rgb(253, 93, 0);
    cursor: pointer;
    position: relative;
    width:65px;
    height:60px;
    font-weight: bold;



    text-align: left;
    color:rgb(255, 255, 255);

}
nav a{
    margin-left: 30px;
    animation: forwards;
}
            
nav a:hover{
    background-color:rgb(80, 80, 80); 
    
    color:rgb(255, 255, 255);    
    transition: .2s;
    
   
    
}
a div:hover{
    background-color:rgb(238, 146, 94);
    color:c
}
#cuenta{
    position: relative;
    bottom: 23px;
    left: px;
}
#perfil{
    float: right;
    position: relative;
    bottom: 92px;
}
.partedrch{
    float: right;
    position: relative;
    bottom: 92px;
}

nav li>ul{
    display:none;
 }
  


.box{
    margin: 100px auto;
    width: 300px;
    height: 100px;
 }
.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative
}


#search-box {
position: relative;
width: 600px;
margin: 0;
left: 700px;
bottom: 45px;
  }
 #search-form {
height: 32px;
border: 1px solid #cbf3ee;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
background-color: #fff;
overflow: hidden;
 }
#search-text {
font-size: 14px;
color: #ddd;
border-width: 0;
background: transparent;
}
    
#search-box input[type="text"] {
width: 90%;
padding: 8px 0 12px 1em;
color: #333;
outline: none;
}
#search-button {
position: absolute;
top: 0;
right: 0;
height: 31px;
width: 60px;
font-size: 14px;
color: #656;
text-align: center;
line-height: 4px;
border-width: 0;
background-color: #ffffff;
-webkit-border-radius: 0px 15px 15px;
-moz-border-radius: 0px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;
cursor: pointer;


}
.menu{
    height:60px;
    background-color: rgb(49, 49, 49);
    width: 1700px;
    position: relative;
    top: 10px;
    margin: auto;
   
   
}
#lupa{
    width: 20px;
    height: 20px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contenedor content img {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef2f3;
}

.contenedor {
    width: 288px;
    position: relative;
    overflow: hidden;
    position: relative;
    top: 40px;
    left: 290px;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 20px;
 
   
    
}

.contenedor:hover img {
    transform: scale(1.05);
}
img{
    width: 288px;
    height: 383.5px;
    transition: all .5s;
    cursor: pointer;

}

.content {
    background-color: rgba(0,0,0, .7);
    position: absolute;
    top: -100%;
    left: 0;
    text-align:justify ;
    height: 100%;
    color: #FFF;
    transition: all .5s;
}

.content h3 {
    text-align: center;
    font-size: 35px;
    border-bottom: 1px solid #808080;
    padding: 20px 10px;
}
.titulo{
    text-align: center;
    font-size: 50px;
    border-bottom: 1px solid #808080;
    padding: 20px 10px;

}

.content p {
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #808080;
    text-align: center;
    font-size: 20px;
}

.icons {
    background-color: transparent;
    color: #fff;
    font-size: 25px;
    padding: 0 0 10px 130px;
    position: absolute;
    bottom: -100%;
    transition: all .5s;
}
.comprar h3{
    font-size: 22px;
    color: white;
    padding: 28px;
    border-bottom: 0px;


} 
.comprar a:hover {
    opacity: 0.3;
    background-color: gray;

}

.compra h3:hover{
    color: white
    opacity: 1;
}
.comprar a{
    text-decoration: none;
    background-color: gray;

}
.comprar:hover{
    background-color: gray;
 
}
.contenedor p{
    font-weight: bold;
    font-size: 24.12px;
}



.contenedor:hover .content {
    top: 0;
}

.comprar{
    margin: auto;
    width: 200px;
    height: 80px;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 35px;
}



footer {
    background-color: rgb(49, 49, 49);
    color: #fff;
    padding: 20px 0;
    width: 1703px; 
    margin-top: 35px;
    margin-left: 100px;
  }
  
.contenedor1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
  
  }
  
.copyright{
    margin: 0;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  footer li {
    margin-right: 20px;
  }
  
  footer a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
  }